@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  min-height: 100vh;
  padding: 3rem 5rem 1.5rem;
  background-color: #674baf;
  background-image: url("../images/bg-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: space-between;
  column-gap: 3rem;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header ." "hero-img main" ". footer"; }

header {
  grid-area: header;
  margin-bottom: 2rem; }
  header img {
    width: 30%; }

.hero-img {
  width: 100%;
  grid-area: hero-img;
  align-self: center; }

main {
  grid-area: main;
  align-self: center;
  margin-top: -6rem; }
  main h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1.5rem; }
  main p {
    margin-bottom: 1.5rem;
    color: #e1d6fa; }
  main a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-color: white;
    color: #674baf;
    padding: 0.7rem 4rem;
    border-radius: 100px;
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s; }
    main a:hover {
      background-color: #e882e8;
      color: white; }

footer {
  grid-area: footer;
  justify-self: end;
  display: flex;
  gap: 1rem; }
  footer a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    border: 1px solid white;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    transition: all 0.3s; }
    footer a:hover {
      color: #e600e6;
      border-color: #e600e6; }

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important; } }
